/*************************
*******Reset******
**************************/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
    padding-left: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', serif !important;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
  line-height: 1.5;
  font-size: 15px;
}

img {
    width: auto;
    height: auto;
    display: block;
}

img {
    -ms-interpolation-mode: bicubic;
}

object,
embed {
    max-width: 100%;
}


/*************************
*******Default Typography******
**************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  font-family: 'Montserrat', serif;
 text-shadow:none;
 color: #444;
}

h1{
  font-size: 36px;
}
h2 {
  font-size: 28px; 
}

h3 {
  font-size: 21px; 
}

h4 {
  font-size: 18px; 
}

h5 {
  font-size: 16px; 
}

h6 {
  font-size: 14px; 
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #d63438;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

ol, ul, p{
    margin: 0;
}

p{
  font-size: 15px;
  color: #555;
  line-height: 1.7;
}

small{font-size: 100%;}

.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); /* browsers */ filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#7c000000', endColorstr='#7c000000'); /* IE */ }