/*------------------------------------------------------------------
* Table of Content
* 1. max-width: 1100px
* 2. max-width: 1023px
* 3. max-width: 767px
* 4. max-width: 639px
* 5. max-width: 479px
-------------------------------------------------------------------*/


@media only screen and (max-width: 1100px) {


	.sidebar .navbar-default .navbar-nav>li>a.menu_custom_btn{padding:8px 16px;}
	
	
	.page-cover .col-xs-7, .page-cover .col-xs-5{
		width: 100%;
	}
	.cover-content{
		text-align: center;
		margin-bottom: 10px;
	}
	.cover-content{
		padding: 0;
	}
	.cover-content a.tag{
	    margin-bottom: 7px;
	}
	.single-post .page-cover .row{
	    display: block;
	}
	.single_page_image_wrapper{
	    height: 300px;
	}
}

/*max-width: 1023px*/

@media only screen and (max-width: 1023px) {

	nav ul li{padding: 0;}

	h1{
	  font-size:36px
	}

	h2{
	  font-size:28px
	}

	h3{
	  font-size:21px
	}

	h4{
	  font-size:18px
	}

	p{
		font-size: 13px;
	}

	#blog .blog-post.blog-large .post-format {
    	width: 50px;
    	height: 50px;
    	line-height: 48px;
	}

	
}



@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.da-thumbs li a div {
    	padding: 30px 20px 0;
	}

}

@media only screen and (max-width: 1024px) {
	#responsive-menu{display: none;}

	.slicknav_menu{display: block;}

	.recent-item .author-detail{
	padding: 0px 0 0 20px;
    float: right;
    width: 70%;
	}
	.result-paging-wrapper{
		margin-bottom: 30px;
	}
	.cover-content h1{
		font-size: 32px;
	}
}

@media only screen and (max-width: 991px){
    .page-cover .container{
        width: auto;
    }
    .page-cover .col-xs-7{
        padding-left: calc(-100vw / 2 );
        padding-right: calc(-100vw / 2 );
        margin-top: 15px;
    }
    
    .detail-page-post .post-wide{
        display: block;
    }
    .post-wide .post-image{
        height: 250px;
    }
    .post-wide .post-content{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}


/*max-width: 767px*/
@media only screen and (max-width: 767px) {

	.has-menu-description .logo,.has-no-menu-description .logo{
	  padding: 10px 0;
	}

	nav ul li{
		padding:0px;
	}

	#navbar.collapse{display: block;border:none;}

	#blog .blog-post.blog-large .post-format{left: inherit;}

	#skills, #experience, #about, #testimonials,, #animated-number, #get-in-touch, #contact{
		padding: 80px 0;
	}

	#blog{padding: 50px 0;}

	 #portfolio{padding: 80px 0 0;}

	#animated-number .col-sm-3.col-xs-6{
  		margin-top: 30px;
	}

	#animated-number .section-header{
  		margin-bottom: 20px;
	}

	.col-xs-6.col-sm-3.col-md-3{
		width: 100%;
		margin-bottom: 0px;
	}

	.img-responsive{width: 100%;}

	#blog .blog-post.blog-grid header.entry-header{float: none;}

	#blog .blog-post.blog-large.blog-grid .entry-thumbnail{margin:0; margin-bottom: 10px; margin-right: 0;}
	
	#blog .blog-post.blog-large.blog-grid  .entry-thumbnail img{width: 100%;}

	#blog .blog-post.blog-grid .entry-meta, #blog.blog-lists.blog-nosidebar .blog-post.blog-grid .entry-meta{text-align: left; padding: 10px 0;}

    .detail-page-post .post-small-box.list-item{
        margin-bottom: 30px;
    }
    .post-wide .post-content{
        padding: 0;
        margin: 15px 0 0 0;
    }
    .post-wide .post-content h2{
        font-size: 18px;
    }
    .item-content .item-wrapper{
        padding: 0 15px;
    }
}

/*max-width: 639px*/

@media only screen and (max-width: 639px) {

  a.scroll{
    display: none;
  }

  	h1{
	  font-size:32px
	}

	h2{
	  font-size:24px
	}

	h3{
	  font-size:18px
	}

	h4{
	  font-size:16px
	}

	.noslider.featured-banner{min-height:380px; }

	.section-header{width: 100%;}

	.section-header .section-title{line-height: 1.5;}

	#skills .media{
		margin-top: 30px;
	}

	#skills .section-header{
  		margin-bottom: 20px;
	}

	.col-sm-6.col-xs-6, .col-sm-4.col-xs-4, .col-sm-3.col-xs-6{
		width: 100%;
		margin-bottom: 30px;
	}

	section#get-in-touch.contact-us  .col-sm-6.col-xs-6{margin-bottom: 0;}

	.col-sm-6.col-xs-6:last-child, .col-sm-4.col-xs-4:last-child, .col-sm-3.col-xs-6:last-child{
		margin-bottom: 0px;
	}

	#testimonials .column-title{
		text-align: center;
	}

	#testimonials p{
		text-align: center;
	}

	#testimonials .column-title::after{
		right: 0;
		margin: 0 auto;
		width: 50%;
	}

	#testimonials .left-btn{
		text-align: center;
	}

	#footer{
		text-align: center;
	}

	#footer .col-xs-8.col-sm-6.col-md-6, #footer .col-xs-4.col-sm-6.col-md-6{
		display: inline-block;
		width: 100%;
	}

	 #footer .col-xs-4.col-sm-6.col-md-6{
	 	padding-top: 10px;
	 }

	#footer .pull-right{
		float: none!important;
	}

	.red-btn{margin-bottom: 15px;}
	
	.detail-content.single_page img{width: 100%;}

	.tag-cloud-heading{padding-bottom: 5px;}

	.comments-area label{width: 100%;}

	.comments-area input#author, .comments-area input#email, .comments-area input#url{margin-left: 0px; width: 100%;}

	.edit_repy_links .btn {
    	margin-bottom: 10px;
	}

	#footer ul.social-net > li{margin: 0 6px;}

	ul.inline-menu li{ font-size: 13px;}

	.cover-content h1{
		font-size: 24px;
	}
	.list-item .col-xs-4,
	.list-item .col-xs-8{
	    width: 100%;
	}
	.list-item{
	    display:block;
	}
	.list-image{
	    height: 200px;
	    width: 100%;
	}
}

@media(max-width: 576px){
    .list_image_wrapper .list-image a {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .header-search .search-form input.search-field, .widget.widget_search .search-form input.search-field, .page-content input.search-field {
        font-size: 11px;
        padding: 15px 60px 10px 10px;
    }
    
    .comments-area p.comment-form-cookies-consent label {
        
    }
}

/*max-width: 479px*/
@media only screen and (max-width: 479px) {
	h1{
		font-size: 28px;
	}

	#featured-banner .carousel-caption p{
		font-size: 16px;
	}

	#experience .column-title{
		text-align: center;
	}

	#experience .column-title::after{
		right: 0;
		margin: 0 auto;
		width: 50%;
	}

	#experience .timeline{
		text-align: center;
	}

	#experience .media.service-box .pull-left{
		display: inline-block;
		float: none!important;
		margin-bottom: 20px;
		margin-right: 0;
	}

	#experience .media.service-box .pull-left:last-child{
		margin-bottom: 0px;
	}

	#experience .media-body{
		width: 100%;
		display: inline-block;
	}

	.upper-head{
		text-align: center;
	}
	ul.header-social-links{
		float: none !important;
	}
	.list-item .col-xs-4,
	.list-item .col-xs-8{
		width: 100%;
	}
	.list-content{
		padding-top: 15px;
	}
	.tb_no_image{
		padding-top: 0;
	}
	.profile-image{
		width: 20%;
	}
	.comment-item .comment-avatar{
	    position: relative;
	    float: none;
	    margin: 0 auto;
	}
	ul.comment-item li .comment-header{
	    margin: 10px 0 0 0;
        display: block;
        padding: 0;
        text-align: center;
	}
	.comment-time{
	    position: relative;
        top: 0;
        right: 0;
	}
	.comment-content{
	    padding: 0;
	    text-align: center;
	}
}