.header-2 .bottombar .header-buttons .quote-button {
    padding: 0 30px;
    line-height: 50px;
    height: 50px;
}

.header-2 .bottombar .mainmenu .navbar .navbar-nav .nav-item .nav-link {
    margin: 0 15px;
}

.home-overview-2 .part-text h3 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
}

.home-overview-2 .part-text p {
	font-weight: 400;
	font-size: 16px;
    line-height: 25px;
}
.breadcrumb-mobile-app{
    background: url("../img/services/mobile-app-development-company.png");
}
.breadcrumb-android-mobile-app{
    background: url("../img/services/bg-android-banner-services.jpg");
}
.breadcrumb-murtes.breadcrumb-about {
	background: url("../img/bg-banner-about.jpg") center center no-repeat;
}

.about-details .part-text ul {
	color: #000000;
	font-weight: 500;
	line-height: 35px;
}

.about-details .part-text ul li i {
	color: #a52124;
	margin-right: 10px;
}

.about-page-about .part-text h2 {
    font-size: 40px;
    line-height: 50px;
}

.section-title-2 h2 {
    font-size: 40px;
    line-height: 45px;
}

.part-text h3 {
    font-size: 30px;
    font-weight: 800;
    color: #222;
}

.part-text h4 {
    font-size: 18px;
    /* font-weight: 600; */
    text-transform: uppercase;
}

h2 .special, h3 .special {
	color: #a52124;
}

.choosing-reason-about-page .single-reason h2 {
    color: #b9585b;
    font-size: 40px;
}

.choosing-reason-about-page .single-reason h2 i {
    color: #a52124;
}

.who-we-are {
    padding: 75px 0;
    background: #90191c;
    color: #eee;
    background: -webkit-linear-gradient(21deg, #d63438 0%, #90191c 100%);

}

.who-we-are h2 {
	font-size: 50px;
    font-weight: 800;
    color: #fff;
}

.who-we-are h5 {
	font-size: 15px;
}

.breadcrumb-murtes.breadcrumb-team {
	background: url("../img/bg-banner-team.jpg") top center no-repeat;
}

.breadcrumb-murtes.breadcrumb-partner {
	background: url("../img/bg-banner-partner.jpg") top center no-repeat;
}

.partner-page-about {
	padding: 75px 0 0px 0;
}

.partner-page-about .part-text h2 {
    font-size: 42px;
    font-weight: 800;
    color: #222;
    line-height: 52px;
    margin-bottom: 22px;
    margin-top: -8px;
}

.partner-page-about .part-text p {
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    font-weight: 500;
}

.choosing-reason-about-page.choosing-partner .single-reason p {
	min-height: 170px;
}

.breadcrumb-murtes.breadcrumb-services {
    background: url("../img/bg-banner-services.jpg") left bottom no-repeat;
     background-repeat: no-repeat;
  background-size: auto;
}

.breadcrumb-murtes.breadcrumb-services:after {
    opacity: .8;
}

.breadcrumb-murtes.breadcrumb-ecommerce {
    background: url("../img/services/bg-banner-ecommerce.jpg") left bottom no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-android {
    background: url("../img/services/mobile-app-development-company.png") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-ios {
    background: url("../img/services/bg-banner-ios.png") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-flutter {
    background: url("../img/services/bg-flutter-app-development.jpg") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-custom {
    background: url("../img/services/bg-banner-custom.jpg") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-cross-platform {
    background: url("../img/services/bg-banner-cross.jpg") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-magento {
    background: url("../img/services/bg-banner-magento.jpg") right bottom no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-corporate {
    background: url("../img/services/bg-banner-corporate.jpg") right bottom no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-cms {
    background: url("../img/services/bg-banner-cms.jpg") right center no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-digital-marketing {
    background: url("../img/services/bg-banner-digital.jpg") right top no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-seo {
    background: url("../img/services/bg-banner-seo.jpg") right bottom no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-social-media {
    background: url("../img/services/bg-banner-social.jpg") right bottom no-repeat;
    background-size: 100%;
}

.choosing-reason-about-page.choosing-service .single-reason p {
    min-height: 115px;
}

.choosing-reason-about-page.choosing-service h2 {
    font-size: 40px;
    font-weight: 700;
    color: #222;
}

.section-bg-blue {
    background: url(../img/testi-bg.png) center center no-repeat;
    background-size: cover;
    background-color: #f5fbfe;
}

.part-img.part-service-img img {
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,.2);
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    max-width: 500px;
    float: right;
}

.custom-app-about {
    padding: 75px 0;
}

.choosing-reason-about-page.choosing-custom-app {
    padding: 75px 0;
}

.breadcrumb-murtes.breadcrumb-products {
    background: url("../img/bg-products.jpg") top left no-repeat;
}



.breadcrumb-murtes.breadcrumb-products:after {
    background: -webkit-linear-gradient(21deg, #222 0%, rgba(0, 0, 0, 0.6) 100%);
    opacity: .7;
}

.breadcrumb-murtes img {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 90%;
}

.product-page-about {
    padding: 75px 0 25px 0;
}



.product-page-about h2 {
    border-right: 5px solid #a52124;
}

.features-list li {
    margin-bottom: 10px;
}

.features-list i {
    color: #a52124;
    margin-right: 10px;
}

.case.case-product {
    padding: 75px 0;

}

.case .product-details h5 {
    font-size: 25px;
}

.case .case-slider .single-case-slider {
    border-radius: 0;
}



.case .case-slider.tablet-pos-slider .single-case-slider img {
    max-width: 400px;
    margin: 0 auto 50px auto;
    width: auto;
}

.case .case-slider.product-slider .single-case-slider img {
    
    max-height : 420px;
    margin: 0 auto 50px auto;
    width: auto;
}

.about-details.portfolio-details .part-img img {
    max-height: 400px;
}

.breadcrumb-murtes.breadcrumb-portfolio {
    background: url("../img/bg-banner-portfolio.jpg") center left no-repeat;
}

.breadcrumb-murtes.breadcrumb-technologies {
    background: url("../img/bg-banner-technologies.jpg") top center no-repeat;
}

.technologies {
    padding: 75px 0;
}

.technologies .single-technology {
    padding: 15px 0;
}

.technologies .single-technology img {
    width: 100%;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    max-width: 200px;
    margin: 0 auto;
}

.breadcrumb-murtes.breadcrumb-contact {
    background: url("../img/bg-banner-contact.jpg") top left no-repeat;
    background-size: 100%;
}

.breadcrumb-murtes.breadcrumb-contact:after {
    opacity: .8;
} 

.contact .contact-address .single-address {
    justify-content: flex-start;
}

.contact .contact-address .single-address .part-icon {
    min-width: 130px;
}

.contact .contact-address .single-address .part-text p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;

}

.breadcrumb-murtes.breadcrumb-careers {
    background: url("../img/bg-banner-careers.jpg") top right no-repeat;
    background-size: 100%;
}

.accordion-careers .card-header {
    background: #f4f9ff;
}

.accordion-careers .card-header .btn-link {
    color: #a52124;
    font-weight: 700;
}

.accordion-careers .card-header .btn-link:hover {
    color: #222;
    text-decoration: none;
}

.accordion-careers .card-header .btn-link.focus, .accordion-careers .card-header .btn-link:focus {
    color: #a52124;
    text-decoration: none;
}

.accordion-careers .card-body ul {
    color: #000000;
    font-weight: 500;
    line-height: 35px;
    padding-left: 15px;
}

.accordion-careers .card-body ul li i {
    color: #a52124;
    margin-right: 10px;
}

.accordion-careers .card-body p {
    color: #000000;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;
}

.accordion-careers .card-body p .reqmt-title {
    color: #222;
    font-weight: 600;    
}

.careers .career-form {
    background: #f4f9ff;
    border: 1px solid #e9f1fc;
    border-radius: 10px;
    padding: 40px 30px;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.15); 
}

.careers .career-form span.subtitle {
    display: block;
    font-size: 14px;
    font-weight: 800;
    color: #a52124;
    margin-bottom: 5px;
    text-align: center; 
}

.careers .career-form h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    color: #222;
    margin-bottom: 20px;
    text-align: center; 
}

.careers .career-form form input, .careers .career-form form select {
    height: 60px;
    width: 100%;
    padding: 15px 30px;
    background: #f8fbff;
    border: 1px solid #d0def1;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #767c89;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
}

.careers .career-form form input:focus, .careers .career-form form select:focus {
    border-color: #a52124; 
}

.careers .career-form form textarea {
    height: 175px;
    width: 100%;
    padding: 19px 30px;
    background: #f8fbff;
    border: 1px solid #d0def1;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #767c89;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: -ms-grid;
    display: grid;
    margin-bottom: 40px; 
}

.careers .career-form form textarea:focus {
    border-color: #0064eb;
}

.thank-you {
    padding: 75px 0;
}

.thank-you h3 {
    font-size: 60px;    
    color: #d33337;
}

.thank-you h2 {
    font-size: 30px;
    font-weight: 600;
    
}

.section-bg-black {
    background: url(../img/testi-bg.png) center center no-repeat;
    background-size: cover;
    background-color: #222;
    color: #fff;
}

.collapsible-features {
    padding: 75px 0;
}

.collapsible-features h2 {
    font-size: 40px;
    font-weight: 700;
    color: #222;
}

.collapsible-features p {
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    font-weight: 500;
}

.accordion-features .card {
    border: none;
}

.accordion-features .card a {
    color: #222;
}

.accordion-features .card-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.accordion-features .card-header h5 {
    font-size: 17px; 
}

.accordion-features .card-header i {
    color: #ca2f33;
    margin-right: 10px;
}

.accordion-features .card-body {
    background-color: #fcfcfc;
    padding-left: 55px;
}

.footer .links-widget ul li i {
    margin-right: 10px;
}

.footer-bottom {
    padding: 20px 0;
    background-color: #eee;
}

.badges {
    display: inline-flex;
}

.badges li {
    float: left;
    margin-right: 5px;
}

.badges li img {
    /*max-width: 120px;*/
}
.section-bg-grey {
    background-color: #eee;
}

.accordion-features.grey .card-header {
    background-color: #fafafa;
}

.whatsapp {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9;
}

.whatsapp img {
    max-width: 100px;
    transition: all .2s;
}
.whatsapp a {
    
}

.whatsapp a:hover img {
    transform: scale(1.25, 1.25);
}

.about-2 .abou-content.first-about .part-text {
    padding-left: 30px;
}

.about-2 .abou-content.first-about .part-text p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

@media only screen and (max-width: 1781px) and (min-width: 1200px) {
    .header-2 .bottombar .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        margin: 0 15px;
    }
}

@media screen and (max-width: 991px) {
    .product-page-about h2 {
        border-right: none;
    }
    .whatsapp {
        bottom: 20px;
        left: 15px;
    }

    .whatsapp img {
        max-width: 50px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .case .case-slider {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumb-murtes img {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .case .case-slider {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .case-slider.product-slider .single-case-slider img {
        margin-bottom: 50px;
        max-width: none;
        width: auto;
        max-height: 350px;
    }

    .banner-2 .banner-content h1 {
        font-size: 45px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 575px) and (min-width: 320px) {
    .case .case-slider {
        display: block; 
    }
}

@media  only screen and (max-width: 350px) {
    .banner-2 .banner-content h1 {
        font-size: 45px;
    }
}